<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sys.courseManage.entity.MajorDirectMapper">
	<resultMap type="com.creidtsys.apps.courseManage.entity.MajorDirect" id="majorDirect">
		<id column="major_direct_id" property="majorDirectId"/>
		<result column="major_direct_name" property="majorDirectName"/>
		<result column="major_direct_desc" property="majorDirectDesc"/>
		<result column="Major_id" property="dMajorId"/>
	</resultMap>
	<select id="selectList" resultMap="majorDirect" parameterType="String">
		select * from MAJOR_DIRECT 
		<if test="_parameter !=null and _parameter !=''">
	      where major_direct_id=#{_parameter}
		</if>
	</select>
	<insert id="add" parameterType="com.creidtsys.apps.courseManage.entity.MajorDirect">
	insert into MAJOR_DIRECT(major_direct_id,major_direct_name,major_direct_desc,Major_id)
				values(#{majorDirectId,jdbcType=VARCHAR},#{majorDirectName,jdbcType=VARCHAR},#{majorDirectDesc,jdbcType=VARCHAR},#{dMajorId,jdbcType=VARCHAR})
	</insert>
	<delete id="delete" parameterType="String">
		delete from MAJOR_DIRECT where major_direct_id =#{majorDirectId}
	</delete>
	<update id="edit" parameterType="com.creidtsys.apps.courseManage.entity.MajorDirect">
		update MAJOR_DIRECT set major_direct_name=#{majorDirectName} ,major_direct_desc=#{majorDirectDesc},Major_id=#{dMajorId} where major_direct_id =#{majorDirectId}
	</update>
</mapper>