<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creidtsys.apps.manage.dao.PaperRelationDao">
	<resultMap type="com.creidtsys.apps.manage.entity.PaperRelation" id="paperRelation">
		<id column="pr_id" property="prId"/>
		<result column="pr_pid" property="prPid"/>
		<result column="type" property="type"/>
		<result column="pr_name" property="prName"/>
		<result column="pr_type" property="prType"/>
		<result column="pr_desc" property="prDesc"/>
		<result column="pr_score" property="prScore"/>
		<result column="pr_hard" property="prHard"/>
		<result column="pr_rate" property="prRate"/>
		<result column="other_id" property="otherId"/>
		<result column="pr_index" property="prIndex"/>
	</resultMap>
	<select id="selectList" resultMap="paperRelation" parameterType="String">
		select * from paper_relation CONNECT BY PRIOR pr_id = pr_pid start WITH  pr_name = #{prName} order by pr_index
	</select>
	<insert id="addRelation" parameterType="com.creidtsys.apps.manage.entity.PaperRelation">
		insert into paper_relation(pr_id,pr_pid,type,pr_name,pr_type,pr_desc,pr_score,pr_hard,pr_rate,other_id,pr_index) values (#{prId,jdbcType=NUMERIC},#{prPid,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{prName,jdbcType=VARCHAR},#{prType,jdbcType=NUMERIC},#{prDesc,jdbcType=VARCHAR},#{prScore,jdbcType=VARCHAR},#{prHard,jdbcType=VARCHAR},#{prRate,jdbcType=VARCHAR},#{otherId,jdbcType=VARCHAR},#{prIndex,jdbcType=VARCHAR})
	</insert>
	<delete id="delRelation" parameterType="String">
		delete from paper_relation where pr_id in(
			select pr_id from paper_relation
			CONNECT BY PRIOR pr_id = pr_pid start WITH pr_id = #{prId} 
		)
	</delete>
	<select id="getRealtionById" parameterType="String" resultMap="paperRelation">
		select * from paper_relation where pr_id = #{prId}
	</select>
	<update id="editRelation" parameterType="com.creidtsys.apps.manage.entity.PaperRelation">
		update paper_relation set pr_name=#{prName},pr_type=#{prType},pr_desc=#{prDesc},pr_score=#{prScore},pr_hard=#{prHard},pr_rate=#{prRate} where pr_id = #{prId}
	</update>
	<delete id="deleteByOtherId" parameterType="String">
		delete from paper_relation where pr_id in(
			select pr_id from paper_relation
			CONNECT BY PRIOR pr_id = pr_pid start WITH other_id = #{otherId} 
		)
	</delete>
	<update id="eidtByOtherId" parameterType="com.creidtsys.apps.manage.entity.PaperRelation">
		update paper_relation 
		<set>
         <if test="prName!=null">
                pr_name=#{prName},
         </if>
         <if test="prType!=null">
                pr_type=#{prType},
         </if>
         <if test="prDesc!=null">
                 pr_desc=#{prDesc},
         </if>
         <if test="prScore!=null">
                pr_score=#{prScore},
         </if>
         <if test="prHard!=null">
                pr_hard=#{prHard},
         </if>
         <if test="prRate!=null">
                pr_rate=#{prRate},
         </if>
     </set>
		where  other_id =#{otherId}
	</update>
	<select id="selectByOtherId" parameterType="String" resultMap="paperRelation">
		select * from paper_relation CONNECT BY PRIOR pr_id = pr_pid start WITH  other_id = #{otherId}
	</select>
	<select id="getChild" parameterType="String" resultMap="paperRelation">
		select * from paper_relation where FIND_IN_SET (pr_id ,getPaperReChild(#{prId}))  order by pr_index
	</select>
	<select id="getTitleList" parameterType="String" resultMap="paperRelation">
		select * from paper_relation where FIND_IN_SET (pr_id ,getPaperReChild(#{prId})) and type='1'  order by pr_index
	</select>
	<select id="getBigList" parameterType="String" resultMap="paperRelation">
		select * from paper_relation where FIND_IN_SET (pr_id ,getPaperReChild(#{prId})) and type='2'   order by pr_index
	</select>
	<select id="getSmallList" parameterType="String" resultMap="paperRelation">
		select * from paper_relation where FIND_IN_SET (pr_id ,getPaperReChild(#{prId})) and type='3'   order by pr_index
	</select>
	<select id="getByOtherId" parameterType="String" resultMap="paperRelation">
		select * from paper_relation where other_id = #{otherId}
	</select>
</mapper>