<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creidtsys.apps.courseManage.dao.PointDao">
	<resultMap type="com.creidtsys.apps.courseManage.entity.Point" id="point">
		<id column="point_id" property="pointId"/>
		<result column="point_unit_id" property="pointUnitId"/>
		<result column="point_name" property="pointName"/>  
		<result column="point_content" property="pointContent"/>
		<result column="point_remake" property="pointRemake"/>
		<result column="unit_name" property="unitName"/>

	</resultMap>
	<select id="selectList" parameterType="String" resultMap="point">
		select p.*,u.* from point p left join unit u on p.point_unit_id = u.unit_id where 1=1<if test="_parameter !=null and _parameter !=''"> and unit_id=#{_parameter,jdbcType=VARCHAR}</if>
	</select>
	<delete id="delete" parameterType="String" >
		delete from  point where point_id = #{pointId}
	</delete>
	<insert id="add" parameterType="com.creidtsys.apps.courseManage.entity.Point" >
		insert into point(point_id,point_name,point_content,point_remake)values(#{pointId},#{pointName},#{pointContent},#{pointRemake})
	</insert>
	<update id="edit" parameterType="com.creidtsys.apps.courseManage.entity.Point">
		update point set point_name=#{pointName},point_content=#{pointContent},point_remake=#{pointRemake} where point_id = #{pointId}
	</update>
</mapper>